@using LanguageResource
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model IEnumerable<DataGuard.Models.ApplicationUser>

@{
    ViewBag.Title = Lang.UserList_Title;
}
 
    @using (Html.BeginForm("UserList", "User", FormMethod.Get, new { @class = "form-inline ml-3 " }))
    {
        <div class="row " >
            <div>
                <div class="input-group input-group-sm mb-3">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-navbar", placeholder = "Search" })
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> Go!</button>
                    </span>
                </div>
            </div> 
        </div>
    }
 
<div class="box-body  table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_UserID" data-toggle="tooltip" style="max-width:40px;"><span><i class="fa fa-user" style="color:mediumslateblue"> </i>ID</span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_Email" data-toggle="tooltip"><span><i class="fa fa-envelope" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_Email </span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_PhoneNumber" data-toggle="tooltip"><span><i class="fa fa-phone" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_PhoneNumber </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.AspNetUsers_PhoneNumberConfirmed" data-toggle="tooltip"   style="max-width:80px;overflow-x:hidden"><span><i class="fas fa-check-square" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_PhoneNumberConfirmed </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.AspNetUsers_EmailConfirmed" data-toggle="tooltip"  style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-exchange" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_EmailConfirmed </span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_LockoutEnabled" data-toggle="tooltip"  style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-lock" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_LockoutEnabled </span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_AccessFailedCount" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-low-vision" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_AccessFailedCount </span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.AspNetUsers_UserName" data-toggle="tooltip"><span><i class="fa fa-user" style="color:mediumslateblue"> </i>@Lang.AspNetUsers_UserName </span></div>
            </th>
            <th>
                <div class="text-nowrap"  title="@Lang.GeneralUI_Details" data-toggle="tooltip"><span><i class="fa fa-user-circle-o" style="color:mediumslateblue"> </i>@Lang.GeneralUI_Details </span></div>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="text-omit" title="@Html.DisplayFor(modelItem => item.Id) | @Html.DisplayFor(modelItem => item.MainComId) | @Html.DisplayFor(modelItem => item.IndustryId)" data-toggle="tooltip" ><label style="max-width:90px;overflow-x:hidden;word-break:break-all;"> @Html.DisplayFor(modelItem => item.Id).ToString().Substring(0,5)</label></div>
                </td>
                <td>
                    <div class="text-omit" title="@Html.DisplayFor(modelItem => item.Email)" data-toggle="tooltip" style="max-width:100px;overflow-x:hidden"> @Html.DisplayFor(modelItem => item.Email)</div>
                </td>

                <td>
                    <i class="fa fa-phone-square"></i> @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <div class="text-nowrap"><span><i class="fas fa-angle-right text-warning"></i> </span>@Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)</div>
                </td>
                <td>
                    <div class="text-nowrap"><span><i class="fas fa-angle-right text-warning"></i> </span> @Html.DisplayFor(modelItem => item.EmailConfirmed)</div>
                </td>

                <td>
                    <span><i class="fas fa-angle-right text-warning"></i> </span>@Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    <span><i class="fas fa-angle-right text-warning"></i> </span>@Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <div class="text-omit" title="@Html.DisplayFor(modelItem => item.UserName)" data-toggle="tooltip" style="max-width:100px;overflow-x:hidden">   @Html.DisplayFor(modelItem => item.UserName)</div>
                </td>
                <td>
                    <div>
                        @Html.ActionLink(Lang.UserList_RolesAuthorize, "UserRolesAssignedList", new { id = item.Id, UserName = item.UserName, Language = LangUtilities.LanguageCode }, htmlAttributes: new { @class = "badge bg-warning" })
                        @Html.ActionLink(Lang.GeneralUI_Details, "EmployeeDetails", "Employee", new { AssociateUserid = item.Id, UserName = item.UserName, Language = LangUtilities.LanguageCode }, htmlAttributes: new { @class = "badge bg-danger" })
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<div class="btn-xs">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("UserList", "User", new { page }), new PagedListRenderOptions
               {
                   ContainerDivClasses = new[] { "pagination pagination-sm" },
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" },
                   MaximumPageNumbersToDisplay = 5
               })
    <!--Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast 經典選項-->
</div>

<!-- Modal for用户角色授权-->
<div class="modal fade" id="myModal_AspNetRolese" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title h4" title="用户角色授权" data-toggle="tooltip" id="myModal_header_lbl_title">用户角色授权</span>
                <label ID="myModal_AspNetRolese_UserId" class="form-inline h6" style="color:#d8d5d5"></label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <label class="form-inline" for="txt_prod_cate_name_upd">登录名称：</label>
                        <label ID="myModal_AspNetRolese_UserName" class="form-inline"></label>
                        <div>
                            __________
                        </div>
                    </div>
                    <div class="col-lg-5">

                    </div>
                </div><!--Row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="Savechanges_AddNew_PropertiesValueName" class="btn btn-primary">授权</button>
            </div>
        </div>
    </div>
</div>
<script>

    function UserAuthorize(UserID, UserName) {
        $('#myModal_AspNetRolese_UserId').text(UserID);
        $('#myModal_AspNetRolese_UserName').text(UserName);
        $('#myModal_AspNetRolese').modal({ backdrop: 'static', keyboard: true });
    }
</script> 
