@using LanguageResource
@using Common
@using AttendanceBussiness
@using DataGuard.Utilities
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@using DataGuard.Models.BusinessDataModel
@using AttendanceBussiness.Public
@using AttendanceBussiness.DbFirst
@using AttendanceBussiness.AttendanceByPeriod
@model ResponseModal

@{
    ViewBag.Title = Lang.MonthStatistics_Title;
    X.PagedList.PagedList<AttendanceByPeriod> attendanceByPeriods = (X.PagedList.PagedList<AttendanceByPeriod>)Model.data;
    int x = 0;
}
    <script>

    function AttendanceByPeriodChkDataRecruitment(AttendanceByPeriodId) {
        var path = "/" + "@LangUtilities.LanguageCode" + "/Admin/AttendanceReports/AttendanceByPeriodChkDataRecruitment/" + AttendanceByPeriodId;

        $.ajax({
            url: path,
            type: "get",
            success: function (data) {

                if (data.MsgCode == '0') {
                    AttendanceByPeriodId = "#td" + AttendanceByPeriodId;
                    $(AttendanceByPeriodId).attr("title", data.Message);
                    layer.open({
                        title: '@Lang.GeneralUI_Warning'
                        , content: data.Message
                        , btn: ['OK']
                    });
                } else {
                    AttendanceByPeriodId = "#td" + AttendanceByPeriodId;
                    $(AttendanceByPeriodId).attr("title", data.Message);
                    layer.msg( data.Message);
                }
            }
        });
       AttChkDataRecruitmentLoading(AttendanceByPeriodId);
    }

    function AttChkDataRecruitmentLoading(AttendanceByPeriodId) {
        var path = "/" + "@LangUtilities.LanguageCode" + "/Admin/AttendanceReports/AttendanceByPeriodChkDataRecruitment/"+ AttendanceByPeriodId;

        $.ajax({
            url: path,
            type: "get",
            success: function (data) {
                console.log(data);
                sp_AttendanceByPeriodId = "#sp" + AttendanceByPeriodId;

                $(sp_AttendanceByPeriodId).removeClass("badge");
                $(sp_AttendanceByPeriodId).removeClass("badge-danger");
                $(sp_AttendanceByPeriodId).removeClass("badge-dark");
                $(sp_AttendanceByPeriodId).removeClass("badge-warning");

                $(sp_AttendanceByPeriodId).addClass("badge");
                $(sp_AttendanceByPeriodId).addClass("badge-warning");

                setTimeout(function () {
                    if (data.MsgCode == '1')
                    {

                        $(sp_AttendanceByPeriodId).addClass("badge");
                        $(sp_AttendanceByPeriodId).addClass("badge-danger");

                    } else {
                        $(sp_AttendanceByPeriodId).addClass("badge");
                        $(sp_AttendanceByPeriodId).addClass("badge-dark");
                    }
                }, 400);
            }
        });
    }
    </script>
@using (Html.BeginForm("MonthlyStatistics", "AttendanceReports", FormMethod.Get, new { @class = "form-inline " }))
{
    <div class="row padding-bottom10">
        <div class="col-8">
            <div class="input-group input-group-sm">
                @Html.TextBox("scheduleDateRange", ViewBag.CurrentOccurDateTimeRange as string, new { @class = "form-control  bg-light-gradient", style = "width:300px;border-right-width:0;", title = Lang.AttendanceLog_occurDateTimeRangeTips, @data_toggle = "tooltip", placeholder = Lang.AttendanceLog_occurDateTimeRange, autocomplete = "off" })
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-navbar", style = "border-left-width:0;", onclick = "javascript:this.value='';", placeholder = "Search" })
                <span class="input-group-append">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        More <i class="fas fa-angle-down font-weight-bold"></i>
                    </button>
                    <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i>Go!</button>
                </span>
            </div>

            <div class="collapse" id="collapseExample">
                <div class="padding-top5">
                    @Html.DropDownList("ContractorId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_ContractorId, title = Lang.Employee_ContractorId })
                    @Html.DropDownList("SiteId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_SiteId, title = Lang.Employee_SiteId })
                    @Html.DropDownList("DepartmentId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_Department, title = Lang.Employee_Department })
                    @Html.DropDownList("PositionId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_Position, title = Lang.Employee_Position })
                    @Html.DropDownList("JobId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_JobId, title = Lang.Employee_JobId })
                </div>
            </div>
        </div>
        <div class="col-4 d-inline">
            @Html.ActionLink(" PDF", "ScheduleIndexRpt", "AttendanceReports", new { scheduleDateRange = ViewBag.CurrentScheduleDateRange, SearchString = ViewBag.CurrentFilter, ContractorId = ViewBag.CurrentContractorId, SiteId = ViewBag.CurrentSiteId, DepartmentId = ViewBag.CurrentDepartmentId, PositionId = ViewBag.CurrentPositionId, JobId = ViewBag.CurrentJobId, intExportFormatType = 5 }, new { @class = "btn btn-warning btn-sm text-white ml-1 fas fa-file-pdf-o font-weight-bold" })
            @Html.ActionLink(" EXCEL", "ScheduleIndexRpt", "AttendanceReports", new { scheduleDateRange = ViewBag.CurrentScheduleDateRange, SearchString = ViewBag.CurrentFilter, ContractorId = ViewBag.CurrentContractorId, SiteId = ViewBag.CurrentSiteId, DepartmentId = ViewBag.CurrentDepartmentId, PositionId = ViewBag.CurrentPositionId, JobId = ViewBag.CurrentJobId, intExportFormatType = 4 }, new { @class = "btn btn-warning btn-sm text-white ml-1 fas fa-file-excel-o font-weight-bold" })
            @Html.ActionLink(" CHART", "ScheduleChartSearching", "AttendanceReports", new { scheduleDateRange = ViewBag.CurrentScheduleDateRange, SearchString = ViewBag.CurrentFilter, ContractorId = ViewBag.CurrentContractorId, SiteId = ViewBag.CurrentSiteId, DepartmentId = ViewBag.CurrentDepartmentId, PositionId = ViewBag.CurrentPositionId, JobId = ViewBag.CurrentJobId }, new { @class = "btn btn-danger btn-sm text-white ml-1 fas fa-area-chart font-weight-bold" })
        </div>
    </div>
} 
<div class="box-body  table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <!--1 AttendanceByPeriodId-->
                <th style="max-width:60px;overflow-x:hidden"  title="@Lang.AttendanceByPeriod_AttendanceByPeriodId" data-toggle="tooltip">
                    <div class="text-nowrap">
                        <span class="primary"><i class="fas fa-id-badge" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_AttendanceByPeriodId </span>
                    </div>
                </th>
                <!--2 ShiftNameList-->
                <th style="max-width:80px;overflow-x:hidden"  title="@Lang.AttendanceByMonthly_ShiftNameList" data-toggle="tooltip">
                    <div class="text-nowrap"><span class=""><i class="fas fa-cog" style="color:mediumslateblue"> </i>@Lang.AttendanceByMonthly_ShiftNameList </span></div>
                </th>
                <!--3 EmployeeName-->
                <th style="max-width:110px;overflow-x:hidden">
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_EmployeeName" data-toggle="tooltip" style="min-width:100px;overflow-x:hidden"><span class=""><i class="fas fa-cog" style="color:mediumslateblue"> </i>@Lang.AttendanceByPeriod_EmployeeName </span></div>
                </th>
                <!--4 WorkTimeSpan-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_WorkTimeSpan" data-toggle="tooltip"><span class="small"><i class="fas fa-external-link-alt" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_WorkTimeSpan </span></div>
                </th>
                <!--5 WorkActualNetTimeSpan-->
                <th>
                    <div class="text-nowrap" title="@string.Format("{0} {1}", Lang.AttendanceByPeriod_AvgWorkActualNetTimeSpan, Lang.AttendanceByPeriod_AccuWorkActualNetTimeSpan)" data-toggle="tooltip" ><span class="small"><i class="far fa-sun" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_WorkActualNetTimeSpan</span></div>
                </th>
                <!--6 LunchTimeSpan-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_LunchTimeSpan" data-toggle="tooltip" style="max-width:60px;overflow-x:hidden"><span class="small"><i class="fas fa-clock" style="color:mediumslateblue"> </i>@Lang.AttendanceByPeriod_LunchTimeSpan </span></div>
                </th>
                <!--7 OverTimeSpan-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_OverTimeSpan" data-toggle="tooltip"><span class="small"><i class="fas fa-clock" style="color:mediumslateblue"> </i>@Lang.AttendanceByPeriod_OverTimeSpan </span></div>
                </th>
                <!--8 LeaveAndHoliday-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_LeaveAndHoliday" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span class="small"><i class="fas fa-stopwatch" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_LeaveAndHoliday</span></div>
                </th>
                <!--9 WorkDays-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_WorkDays" data-toggle="tooltip" style="max-width:60px;overflow-x:hidden"><span class="small"><i class="fas fa-history" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_WorkDays</span></div>
                </th>
                <!--10 LateIn-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_LateIn" data-toggle="tooltip" style="max-width:60px;overflow-x:hidden"><span class="small"><i class="fas fa-clock" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_LateIn</span></div>
                </th>
                <!--11 EarlyOut-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_EarlyOut" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span class="small"><i class="fas fa-clock" style="color:forestgreen"> </i>@Lang.AttendanceByPeriod_EarlyOut</span></div>
                </th>
               
                <!--14 OverTimeEarlyOut--> 

                <!--16 TimesOfMissing-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_TimesOfMissing" data-toggle="tooltip" style="max-width:90px;overflow-x:hidden"><span class="small"><i class="fas fa-percentage" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_TimesOfMissing</span></div>
                </th>
                <!--17 Ratio-->
                <th>
                    <div class="text-nowrap" title="@Lang.AttendanceByPeriod_AttendanceRatio" data-toggle="tooltip" style="max-width:90px;overflow-x:hidden"><span class="small"><i class="fas fa-percentage" style="color:mediumslateblue"></i>@Lang.AttendanceByPeriod_AttendanceRatio</span></div>
                </th>
                <!--18 Operation-->
                <th>
                    <div class="text-nowrap d-inline-flex bd-highlight" title="@Lang.AttendanceByShift_SysCalcDateTime" data-toggle="tooltip">
                        <span class="small m-0 mr-2 pt-0 pl-2"><i class="fas  fa-hourglass-end" style="color:mediumslateblue"> </i> </span>
                        @Html.ActionLink(" ", "MonthlyStatistics", "AttendanceReports", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, occurDateTimeRange = ViewBag.CurrentOccurDateTimeRange }, htmlAttributes: new { @class = "fa fa-sort pull-right", title = Lang.GeneralUI_OrderByDatetime })
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in attendanceByPeriods)
            {
                x++;
                <tr id="@string.Format("tr{0}",item.AttendanceByPeriodId)">
                    <!--1 AttendanceByPeriodId-->
                    <td id="@string.Format("td{0}",item.AttendanceByPeriodId)" class="text-omit small" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AttendanceByPeriodId)">

                        <div id="@string.Format("div{0}",item.AttendanceByPeriodId)" class="text-nowrap d-flex flex-row" style="cursor:pointer;">
                            <div class="mr-1" data-toggle="tooltip" title="@Lang.GeneralUI_CheckDataSecurity">
                                <span id="@string.Format("sp{0}",item.AttendanceByPeriodId)" class="badge badge-dark" onclick="javascript:AttendanceByPeriodChkDataRecruitment('@item.AttendanceByPeriodId')" data-toggle="tooltip" style="cursor:pointer;">@x</span>
                            </div>
                            <div class="ml-1">
                                <span class="bg-primary-gradient badge badge-warning text-bold " title="this current month"> @item.StartDate.Month </span>
                            </div>
                            <div id="@string.Format("CLIDBOARD{0}",item.AttendanceByPeriodId)" class="p-0 text-dark clipboard" style="cursor:pointer;" title="@string.Format("{0} {1}",Lang.GeneralUI_ClickToCopy,item.AttendanceByPeriodId)" onclick="getClipboardText()" data-clipboard-text="@item.AttendanceByPeriodId">
                                @AttendanceByPeriodBusiness.AbbrPid(item.AttendanceByPeriodId, 0, 4)
                            </div>

                        </div> 
                        <script>

                            $(document).ready(function () {
                                setTimeout(function () { AttChkDataRecruitmentLoading('@item.AttendanceByPeriodId'); },@x * 600);
                            });
                        </script>
                    </td>
                    <!--2 ShiftNameList-->
                    <td class="text-omit" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_PeriodShiftNameList)">
                        <div class="p-0" style="max-height:80px;overflow-y:auto;">
                            @if (!string.IsNullOrEmpty(item.ShiftNameStructure))
                            {
                                List<ShiftNameStructure> shiftNameStructureDTO = AttendanceByPeriodBusiness.GetShiftNameStructureDTO(item.ShiftNameStructure);
                            <ul class="list-unstyled m-0 p-0">
                                @foreach (var itemPeriodShiftName in shiftNameStructureDTO)
                                {
                                    <li class="pb-1">
                                        <span class="badge badge-primary p-1">@string.Format("{0} {1}", itemPeriodShiftName.ShiftAbbrId, itemPeriodShiftName.ShiftName)</span>
                                    </li>
                                } 
                            </ul>
                            }
                        </div>
                        
                    </td>
                    <!--3 EmployeeName-->
                    <td class="text-omit small" data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.EmployeeName)">
                        <details class="p-0 m-0">
                            <!--class="open" or <details open>-->
                            <summary class="pb-0 mb-0 mb-1">@item.EmployeeName </summary>
                            <div class="small-box p-1">
                                <p class="small pb-0 pt-0 mb-0 h6" style="border-bottom-color:#ff6a00;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:3px;"> @item.DepartmentName</p>
                                <p class="small pb-0 pt-0 mb-0 h6" style="border-bottom-color:#ff6a00;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:3px;"> @item.ContractorName</p>
                                <p class="small pb-0 pt-0 mb-0 h6" style="border-bottom-color:#ff6a00;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:3px;"> @item.JobName</p>
                                <p class="small pb-0 pt-0 mb-0 h6" style="border-bottom-color:#ff6a00;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:3px;"> @item.SiteName</p>
                                <p class="small pb-0 pt-0 mb-0 h6" style="border-bottom-color:#ff6a00;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:3px;"> @item.PositionTitle</p>
                            </div> 
                        </details>
                    </td>
                    <!--4 WorkTimeSpan-->
                    <td class="">
                        <div class="text-nowrap inline">
                            <span class="fas fa-calendar text-success text-nowrap" data-toggle="tooltip" title="@String.Format("{0}:{1}", TimeSpan.FromSeconds((double)item.AvgWorkTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AvgWorkTimeSpan)"><span class="small">@Lang.GeneralUI_Average </span><label class="badge badge-warning p-1">@String.Format("{0}{1}", TimeSpan.FromSeconds((double)item.AvgWorkTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span>
                        </div>
                        <div class="text-nowrap inline">
                            <span class="fas fa-calendar text-success text-nowrap" data-toggle="tooltip" title="@String.Format("{0}:{1}", TimeSpan.FromSeconds((double)item.AccuWorkTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AccuWorkTimeSpan)"><span class="small">@Lang.GeneralUI_Accumulate </span> <label class="badge badge-primary p-1">@String.Format("{0}{1}", TimeSpan.FromSeconds((double)item.AccuWorkTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span>
                        </div>
                    </td>
                    <!--5 WorkActualNetTimeSpan-->
                    <td class="">
                        <div class="">
                            <!--d-inline-flex d-flex-->
                            <span class="fas fa-check-square text-success text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds((double)item.AvgWorkActualNetTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AvgWorkActualNetTimeSpan)"> <label class="badge badge-success"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AvgWorkActualNetTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span><br />
                            <span class="fas fa-calendar text-success  text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds((double)item.AccuWorkActualNetTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AccuWorkActualNetTimeSpan)"> <label class="badge badge-primary"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AccuWorkActualNetTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span>
                        </div>
                    </td>
                    <!--6 LunchTimeSpan-->
                    <td class="text-capitalize small">
                        <div class="">
                            <!--d-inline-flex d-flex-->
                            <span class="fas fa-check-square text-success text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds(item.AvgLunchTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AvgLunchTimeSpan)"> <label class="badge badge-success"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AvgLunchTimeSpan), Lang.GeneralUI_Day)</label></span><br />
                            <span class="fas fa-calendar text-success  text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds(item.AccuLunchTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AccuLunchTimeSpan)"> <label class="badge badge-primary"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AccuLunchTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span>
                        </div>
                    </td>
                    <!--7 OverTimeSpan-->
                    <td>
                        <div class="">
                            <span class="fas fa-check-square text-success text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds(item.AvgOverTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AvgOverTimeSpan)"> <label class="badge badge-success"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AvgOverTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span><br />
                            <span class="fas fa-calendar text-success  text-nowrap" data-toggle="tooltip" title="@String.Format("{1} {0}",TimeSpan.FromSeconds(item.AccuWorkActualNetTimeSpan).ToString(@"dd\.hh\:mm\:ss"),Lang.AttendanceByPeriod_AccuOverTimeSpan)"> <label class="badge badge-primary"> @String.Format("{0}{1}", TimeSpan.FromSeconds(item.AccuOverTimeSpan).ToString(@"dd\.hh\:mm\:ss"), Lang.GeneralUI_Day)</label></span>
                        </div>
                    </td>
                    <!--8 LeaveAndHoliday-->
                    <td>
                        <div class="small text-nowrap  text-danger"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuLeaveDays"><i class="fas fa-user-clock"></i> @string.Format("{0}{1}", item.AccuLeaveDays, Lang.GeneralUI_Day) </span></div>
                        <div class="small text-nowrap"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuHolidays"><i class="fas fa-plane-departure"></i> @string.Format("{0}{1}", item.AccuHolidays, Lang.GeneralUI_Day) </span></div>
                    </td>
                    <!--9 WorkDays-->
                    <td>
                        <div class="small text-nowrap  text-primary"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuWorkDays"><i class="fas fa-calendar-plus"></i> @string.Format("{0}{1}", item.AccuWorkDays, Lang.GeneralUI_Day) </span></div>
                        <div class="small text-nowrap"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuHolidays"><i class="fas fa-clock"></i> @string.Format("{0}{1}", item.AccuHolidays, Lang.GeneralUI_Day) </span></div>
                    </td>
                    <!--10 LateIn-->
                    <td>
                        <div class="small text-nowrap  text-danger"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfLateIn"><i class="fas fa-calendar-plus"></i> @string.Format("{0}{1}", item.AccuTimesOfLateIn, Lang.GeneralUI_Times) </span></div>
                        <div class="small text-nowrap"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuLateInTimeSpan"><i class="fas fa-clock"></i> @string.Format("{0}", TimeSpan.FromSeconds(item.AccuLateInTimeSpan)) </span></div>
                    </td>
                    <!--11 EarlyOut-->
                    <td>
                        <div class="small text-nowrap  text-danger"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfEarlyOut"><i class="fas fa-calendar-plus"></i> @string.Format("{0}{1}", item.AccuTimesOfEarlyOut, Lang.GeneralUI_Times) </span></div>
                        <div class="small text-nowrap"><span class="text-bold" data-toggle="tooltip" title="@Lang.AttendanceByPeriod_AccuEarlyOutTimeSpan"><i class="fas fa-clock"></i> @string.Format("{0}", TimeSpan.FromSeconds(item.AccuTimesOfEarlyOut)) </span></div>
                    </td>
                    
                    <!--14 OverTimeEarlyOut-->
                    
                    <!--16 TimesOfMissing-->
                    <td>
                        <details class=" pl-1 pr-1">
                            <summary class="text-nowrap text-primary pb-0 mb-0 ">
                                <span class="text-success small" style="max-width:90px;overflow-x:hidden;"><span class="text-primary"><i class="fas fa-cog"></i></span><span class="text-danger">@Lang.AttendanceByPeriod_AccuTimesOfMissing</span> @string.Format("{0}{1}", item.AccuTimesOfMissing, Lang.GeneralUI_Times) </span>
                            </summary>
                            <div class="small-box pl-1 mt-1">
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfMissingWorkOn"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingWorkOn</span><span class="text-bold"> @item.AccuTimesOfMissingWorkOn</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfMissingWorkOff"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingWorkOff</span><span class="text-bold"> @item.AccuTimesOfRegularWorkOff</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                            </div>
                            <div class="small-box pl-1">
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfMissingLunchStart"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingLunchStart</span><span class="text-bold"> @item.AccuTimesOfMissingLunchStart</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfRegularLunchEnd"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingLunchEnd</span><span class="text-bold"> @item.AccuTimesOfMissingLunchStart</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                            </div>
                            <div class="small-box pl-1">
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfMissingOverTimeStart"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingOverTimeStart</span><span class="text-bold"> @item.AccuTimesOfMissingOverTimeStart</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                                <p class="text-wrap pb-0 pt-0 mb-0">
                                    <span class="small text-wrap" data-target="tooltip" title="@Lang.AttendanceByPeriod_AccuTimesOfMissingOverTimeEnd"><i class="fas fa-angle-right"></i><span class="small text-primary">@Lang.AttendanceByPeriod_AccuTimesOfMissingOverTimeEnd</span><span class="text-bold"> @item.AccuTimesOfMissingOverTimeStart</span><span class="small text-primary"> @Lang.GeneralUI_Times</span></span>
                                </p>
                            </div>    
                        </details>
                    </td>
                    <!--17 Ratio-->
                    <td>
                        <details class="p-0 m-0">
                            <summary class="text-nowrap text-primary pb-0 mb-0 ">
                                <span class="text-success small fas fa-calendar-check" data-target="tooltip" title="@Lang.AttendanceByPeriod_OnDutyWorkRatioAvg">@string.Format("{0:F2}%", item.AvgOnDutyWorkRatio * 100) </span>
                            </summary>

                            <p class="text-wrap pb-0 pt-0 mb-0">
                                <span class="fas fa-caret-square-right small" data-target="tooltip" title="@Lang.AttendanceByPeriod_OnDutyWorkRatioAvg"> @string.Format("{0:F2}%", item.AvgOnDutyWorkRatio * 100)</span>
                            </p>
                            <p class="text-wrap pb-0 pt-0 mb-0">
                                <span class="fas fa-caret-square-right small" data-target="tooltip" title="@Lang.AttendanceByPeriod_OnDutyPaidRatioAvg"> @string.Format("{0:F2}%", item.AvgOnDutyPaidRatio * 100)</span>
                            </p>
                        </details>
                    </td>
                    <!--18 Operation-->
                    <td>
                        <div class="text-nowrap small-box">
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="pr-1 pl-1 pt-0 bd-highlight small">
                                    @Html.Raw(string.Format("<span class='text-nowrap'>{0:yyyy-MM-dd</span><br><Span class='text-nowrap'>HH:mm:ss</Span>}", item.SysCalcDateTime))
                                </div>
                                <div class="p-1 bd-highlight">
                                    @if (!item.IsCompleted)
                                    {
                                        <button class="btn btn-success btn-sm" id="@string.Format("BtnIsCompleted{0}",item.AttendanceByPeriodId)" data-iscompleted="@item.IsCompleted" onclick="javascript:RefreshAttendanceByDay('@item.AttendanceByPeriodId');" data-toggle="tooltip" title="@string.Format("{0} = {1}",Lang.AttendanceByPeriod_IsCompleted,item.IsCompleted.ToString().ToUpper())">
                                            <i class="fas fa-sync-alt"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger btn-sm" id="@string.Format("BtnIsCompleted{0}",item.AttendanceByPeriodId)" data-iscompleted="@item.IsCompleted" onclick="javascript:RefreshAttendanceByDay('@item.AttendanceByPeriodId');" data-toggle="tooltip" title="@string.Format("{0} = {1}",Lang.AttendanceByPeriod_IsCompleted,item.IsCompleted.ToString().ToUpper())">
                                            <i class="fas fa-hourglass-end"></i>
                                        </button>
                                    }
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>
<div class="alert alert-light p-1" role="alert">
    @Lang.GeneralUI_TimeSpanFormat_Note
</div>
 
<div class="btn-xs">
    @Html.PagedListPager((IPagedList)Model.data, page => Url.Action("DayStatistics", "AttendanceReports", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, occurDateTimeRange = ViewBag.CurrentOccurDateTimeRange, page = page }), new PagedListRenderOptions
    {
        ContainerDivClasses = new[] { "pagination pagination-sm" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        MaximumPageNumbersToDisplay = 5
    })
    <!--Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast, classic option-->
</div>
<script>
    $(document).ready(function () {

         $('#scheduleDateRange').daterangepicker({
            format: '@Lang.GeneralUI_DateTimeRangeFormatJS',
            language:'@LangUtilities.LanguageCode',
            timePicker: false,
            separator: '-',
            ranges: {
                //'最近1小时': [moment().subtract('hours',1), moment()],
                '@Lang.GeneralUI_DateTime_Today': [moment().startOf('day'), moment()],
                '@Lang.GeneralUI_DateTime_Yesterday': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                '@Lang.GeneralUI_DateTime_Last7Days': [moment().subtract('days', 6), moment()],
                '@Lang.GeneralUI_DateTime_Last30Days': [moment().subtract('days', 29), moment()]
            },
             locale: {
                format:  '@Lang.GeneralUI_DateTimeRangeFormatJS',
                applyLabel: '@Lang.GeneralUI_Comfirmed',
                cancelLabel: '@Lang.GeneralUI_Cancel',
                fromLabel: '@Lang.GeneralUI_DateTime_StartTime',
                toLabel: '@Lang.GeneralUI_DateTime_EndTime',
                customRangeLabel: '@Lang.GeneralUI_DateTime_CustomDate',
                daysOfWeek: ['@Lang.GeneralUI_DayOfWeekAbbr_Sunday', '@Lang.GeneralUI_DayOfWeekAbbr_Monday', '@Lang.GeneralUI_DayOfWeekAbbr_Tuesday', '@Lang.GeneralUI_DayOfWeekAbbr_Wednesday', '@Lang.GeneralUI_DayOfWeekAbbr_Thursday', '@Lang.GeneralUI_DayOfWeekAbbr_Friday', '@Lang.GeneralUI_DayOfWeekAbbr_Saturday'],
                monthNames: ['@Lang.GeneralUI_Month_January', '@Lang.GeneralUI_Month_February', '@Lang.GeneralUI_Month_March', '@Lang.GeneralUI_Month_April', '@Lang.GeneralUI_Month_May', '@Lang.GeneralUI_Month_June',
                     '@Lang.GeneralUI_Month_July', '@Lang.GeneralUI_Month_August', '@Lang.GeneralUI_Month_September', '@Lang.GeneralUI_Month_October', '@Lang.GeneralUI_Month_November', '@Lang.GeneralUI_Month_December'
                ],
                firstDay: 1
            },
            dateLimit: {
                days: 30
            }, //maxDateRange
        });

        $(".table-responsive").css("min-height",window.innerHeight);
    });
</script>

<script>

    function RefreshAttendanceByDay(AttendanceByPeriodId)
    {
        console.log(AttendanceByPeriodId);
        var idx = "#BtnIsCompleted" + AttendanceByPeriodId;
        console.log("idx = " + idx);

        layer.confirm('@Lang.GeneralUI_Comfirmed', {
            title:'@Lang.GeneralUI_InfoTips',
            btn: ['@Lang.GeneralUI_Yes', '@Lang.GeneralUI_NO'] //btn
        }, function () {
            //TODO
                var IsCompleted = $(idx).data("iscompleted");
                console.log(IsCompleted);
                if (IsCompleted) {
                    var httpUrl = "/@LangUtilities.LanguageCode/AttendanceReports/RefreshAttendanceByPeriod";
                    var myparamsObject = { "AttendanceByPeriodId": AttendanceByPeriodId };

                    $.ajax({
                        url: httpUrl,
                        data: myparamsObject,
                        type: "post",
                        dataType: "json",
                        error: function (data) {
                            layer.msg('@Lang.GeneralUI_ServerError');
                            console.log(JSON.stringify(data));
                        },
                        success: function (data) {
                            console.log(JSON.stringify(data));
                            layer.open({
                                title: '@Lang.GeneralUI_ReturnResult'
                                , content: data.meta.Message
                                , btn: '@Lang.GeneralUI_OK'
                            });
                            if (data.meta.Success == true) {
                                var pr_obj = "#tr" + AttendanceByPeriodId;
                                $(pr_obj).addClass("bg-warning-gradient");
                                setTimeout(function () {
                                    if (!IsCompleted) {
                                        $(idx).data("iscompleted", "False");
                                        $(idx).html("<i class='fas fa-hourglass-end'></i>");
                                        $(idx).removeClass("btn-success");
                                        $(idx).addClass("btn-danger");

                                    } else {
                                        $(idx).data("iscompleted", "True");
                                        $(idx).html("<i class='fas fa-sync-alt'></i>");
                                        $(idx).removeClass("btn-danger");
                                        $(idx).addClass("btn-success");
                                    }
                                }, 2000);

                                console.log($(idx).html());
                            }
                        }
                    });
                } else {
                    layer.msg('@Lang.GeneralUI_OK');
                }
        }, function () {
            layer.msg('@Lang.GeneralUI_OK', { icon: 1 }, {
                time: 6000,
                btn: ['@Lang.GeneralUI_Isee']
            });
        });
    }
</script>
