@using LanguageResource
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model AttendanceBussiness.EmployBusiness.ApplyDepartmentToDevice
@{ 
    Layout = null;
}
<script>
    //setTimeout(function () {
    //    $('#ApplyDepartmentToDeviceModal').modal('show');
    //}, 3000) 
</script>
<div ng-controller="ApplyToDeviceByDepartmentCtrl" class="modal fade" id="ApplyDepartmentToDeviceModal" tabindex="-1"  role="dialog" aria-labelledby="ApplyDepartmentToDeviceModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("ApplyDepartmentToDevice", "Employee", new AjaxOptions { HttpMethod = "post", OnSuccess = "handleApplyToDevice", OnFailure = "errApplyToDevice" }, new { @class = "form-horizontal", name = "ApplyToDevice", id = "ApplyToDevice" }))
            {
                @Html.HiddenFor(model => model.SearchMode)
                <div class="modal-header pt-2 pb-2">
                    <h5 class="modal-title" id="editLanguageTitle"><i class="fas fa-map-signs text-danger"></i> @Lang.Employee_ApplyDepartmentToDevice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body  pt-2 pb-2 pl-5">
                    <div class="form-group">
                        <label class="control-label col-12" for="EmployeeId">@Lang.Employee_DepartmentId</label>
                        <div class="pl-1">
                            @Html.TextBoxFor(model => model.DepartmentId, new { list = "List_SelectDepartmentListJson", onclick = "javascript: this.value = '';", @class = "form-control form-control-sm col-9" })
                            <datalist id="List_SelectDepartmentListJson">
                                <option ng-repeat="x in serchingDepartmentListJson" value="{{x.DepartmentId}}">{{x.DepartmentName}}</option>
                            </datalist>
                        </div>
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>

                    <!--SystemModule-->
                    <div class="form-group">
                        <label class="control-label col-12"  for="SysModuleId">@Lang.SysModule_SysModuleName</label>
                        <div class="pl-1">
                            <input id="SysModuleId" list="List_SelectSysModuleListJson" ng-model="SysModuleId" ng-change="moduleChange();" onclick = "javascript: this.value = '';" class="form-control form-control-sm col-9" />
                            <datalist id="List_SelectSysModuleListJson">
                                <option ng-repeat="j in selectSysModuleListJson" value="{{j.SysModuleId}}">{{j.SysModuleName}}</option>
                            </datalist>
                        </div>
                    </div>

                    <!--SystemModule-->
                    <div class="form-group">
                        <label class="control-label col-12" for="DeviceId">@Lang.Device_DeviceName</label>
                        <div class="pl-1">
                            @Html.TextBoxFor(model => model.DeviceId, new { list = "List_SelectDeviceListJson", onclick = "javascript: this.value = '';", @class = "form-control form-control-sm  col-9" })
                            <datalist id="List_SelectDeviceListJson">
                                <option ng-repeat="x in SelectDeviceListJson" value="{{x.DeviceId}}">{{x.DeviceName}}</option>
                            </datalist>
                        </div>
                        @Html.ValidationMessageFor(model => model.DeviceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer pt-1 pb-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="AddNewComfirmed2" class="btn btn-sm btn-primary"> @Lang.GeneralUI_Comfirmed </button>
                </div>
            }
        </div>
    </div>
</div>

<script>
     
    app.controller('ApplyToDeviceByDepartmentCtrl', function ($scope, $http) {
        $http({
                method: 'GET',
            url: '/' + '@LangUtilities.LanguageCode' +'/Admin/Employee/SelectDepartmentListJson'
        }).then(function successCallback(response) {
            //console.log(response);
            $scope.serchingDepartmentListJson = response.data;
            //console.log("$scope.serchingDepartmentListJson: \n\r" + JSON.stringify($scope.serchingDepartmentListJson));

            }, function errorCallback(response) {
                console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
            });

        $http({
                method: 'GET',
            url: '/' + '@LangUtilities.LanguageCode' +'/Admin/SysModule/GetList'
        }).then(function successCallback(response) {

            if (response.data.meta.Success == true) {

                $scope.selectSysModuleListJson = response.data.data;
                 
                //toastr["success"]("Success to Get System Module List");

                } else {
                    toastr["warning"]("Fail to Get System Module List");
                }
            }, function errorCallback(response) {
                console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
        });
        $scope.moduleChange = function () {
            var sysModuleId = $scope.SysModuleId; 

            $http({
                method: 'GET',
                url: '/' + '@LangUtilities.LanguageCode' + '/Admin/SysModule/GetDeviceList?sysModuleId=' + sysModuleId
            }).then(function successCallback(response) {

                if (response.data.meta.Success == true) {

                    $scope.SelectDeviceListJson = response.data.data;
                   
                    $("#DeviceId").val(""); 
                }
                else {
                    toastr["warning"]("Fail to Get DEVICE List");
                }
            }, function errorCallback(response) {
                console.log("/en-US/Admin/SysModule/GetDeviceList : \n\r" + response.data);
            });
        };
    });
    function handleApplyToDevice(result)
    {
        layer.open({
            title: '@Lang.GeneralUI_ReturnResult'
            , content: result.meta.Message
        });
        if (result.meta.Success === true) {
            setTimeout(function () {
                $("#ApplyDepartmentToDeviceModal").modal('hide');
            }, 30000);
        }
    }
    function errApplyToDevice() {
        alert('@Lang.GeneralUI_ServerError');
    }
</script>

