@using LanguageResource
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@using DataGuard.Areas.Admin.ModelView
@model IEnumerable<AttendanceBussiness.DbFirst.Employee>

@{
    ViewBag.Title = Lang.EmployeeList_Title;
}

@using (Html.BeginForm("EmployeeList", "Employee", FormMethod.Get, new { @class = "form-inline ml-1 " }))
{
<div class="row  mb-0">
    <div class="col-3  mb-0">
        <div class="input-group input-group-sm mb-1">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-navbar", onclick = "javascript:this.value='';", placeholder = "Search" })
            <span class="input-group-append">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    More <i class="fa fa-angle-down font-weight-bold"></i>
                </button>
            </span>
            <span class="input-group-append">
                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> Go!</button>
            </span>
            <span class="input-group-append"> 
                <a href="@Url.Action("Employeequickadd","Employee")" class="btn btn-primary btn-sm text-white ml-1" taget="_blank">
                    &nbsp;<i class="fa fa-plus-circle font-weight-bold"></i>&nbsp;
                </a>  
            </span>
        </div>
        
    </div>
    
    <div class=" mb-0 pb-0">
        <div class="btn-group btn-group-sm" role="group">  
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#ArchiveApprove1Modal"><b><i class="fa fa-sign-in-alt text-white"></i></b></button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#BanApprove1Modal" title="@Lang.Employee_IsBlock"><b><i class="fa fa-ban text-white"></i></b></button>
        </div>
    </div>
</div>
    <div class="row mt-1  mb-0">
        <div class="collapse pb-0" id="collapse1">
            <div class="pt-1 pl-1 pb-0  input-group input-group-sm">
                @Html.DropDownList("ContractorId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_ContractorId, title = Lang.Employee_ContractorId })
                @Html.DropDownList("SiteId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_SiteId, title = Lang.Employee_SiteId })
                @Html.DropDownList("DepartmentId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_Department, title = Lang.Employee_Department })
                @Html.DropDownList("PositionId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_Position, title = Lang.Employee_Position })
                @Html.DropDownList("JobId", null, Lang.GeneralUI_Select, new { @class = "form-control form-control-sm m-1", data_toggle = "tooltip", placeholder = Lang.Employee_JobId, title = Lang.Employee_JobId })
            </div>
        </div>
    </div>
}

<div class="box-body  table-responsive" style="min-height:600px;">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                <div class="text-nowrap " title="@Lang.Employee_EmployeeId" data-toggle="tooltip"><span><i class="fa fa-user" style="color:mediumslateblue"> </i>@Lang.Employee_EmployeeId </span> @Html.ActionLink(" ", "EmployeeList", "Employee", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, htmlAttributes: new { @class = "fa fa-sort pull-right margin-top5", title = Lang.GeneralUI_OrderByDatetime })</div>

            </th>
            <th>
                <div class="text-nowrap" title="@Lang.GeneralUI_Name" data-toggle="tooltip"><span><i class="fa fa-bookmark" style="color:mediumslateblue"> </i>@Lang.GeneralUI_Name </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_PhoneNumber" data-toggle="tooltip">
                    <span><i class="fa fa-phone" style="color:mediumslateblue"> </i>@Lang.Employee_PhoneNumber </span>
                </div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_EnrollmentDate" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden">
                    <span><i class="fas fa-calendar-alt" style="color:mediumslateblue"> </i>@Lang.Employee_EnrollmentDate </span>
                </div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_ContractorName" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-exchange" style="color:mediumslateblue"> </i>@Lang.Employee_ContractorName </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_SiteName" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-sitemap" style="color:mediumslateblue"> </i>@Lang.Employee_SiteName </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_DepartmentName" data-toggle="tooltip" style="max-width:80px;overflow-x:hidden"><span><i class="fa fa-low-vision" style="color:mediumslateblue"> </i>@Lang.Employee_DepartmentName </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.Employee_JobName" data-toggle="tooltip"><span><i class="fa fa-user" style="color:mediumslateblue"> </i>@Lang.Employee_JobName </span></div>
            </th>
            <th>
                <div class="text-nowrap" title="@Lang.GeneralUI_Details" data-toggle="tooltip"><span><i class="fa fa-angle-double-right" style="color:mediumslateblue;font-weight:900"> </i>@Lang.GeneralUI_Details </span></div>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="text-omit">
                        <div class="container no-margin no-padding">
                            <div class="row">
                                <div class="col-5  no-margin no-padding">
                                    @{ if (!string.IsNullOrEmpty(item.UserIconOfEmployee.UserIcon1))
                                        {
                                            <div class="m-0 p-0" style="overflow:hidden;max-width:60px;max-height:60px;">
                                                <a href="@Url.Action("EmployeeQuickReco","Employee",new { EmployeeId = item.EmployeeId, Step = 1 })" target="_blank" class="text-decoration-none" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.EmployeeQuickReco_Title)" data-toggle="tooltip">
                                                    <img src="@item.UserIconOfEmployee.UserIcon1" style="max-width:60px;" class="img-responsive" />
                                                    <!--Cache for 12hour upload delay-->
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            if (item.Gender == (int)AttendanceBussiness.ShiftBusiness.Genders.Female)
                                            {
                                                <img src="~/Content/Images/user_female40x40.gif" alt="female" style="max-width:20px;" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/Images/user_male40x40.gif" alt="male" style="max-width:20px;" />
                                            }
                                        }
                                    }
                                </div>
                                <div class="col-7  no-margin no-padding">
                                    <ul class="no-margin no-padding list-unstyled">
                                        <li class="small no-margin no-padding" title="@Lang.Employee_EmployeeId ： @Html.DisplayFor(modelItem => item.EmployeeId)" data-toggle="tooltip">
                                            @Html.DisplayFor(modelItem => item.EmployeeId)
                                        </li>
                                        <li class="small" title="@Lang.Employee_The3rdPartyEmployeeId" data-toggle="tooltip">
                                            @Html.DisplayFor(modelItem => item.The3rdPartyEmployeeId)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="text-omit">
                        <ul class="no-margin no-padding list-unstyled">
                            <li class="small no-margin no-padding text-nowrap" title="@Lang.Employee_CnName ： @Html.DisplayFor(modelItem => item.CnName)" data-toggle="tooltip">
                                @Html.DisplayFor(modelItem => item.CnName, new { @class = "small" })

                                @if (item.IsArchive)
                                {
                                    <span class="font-red text-danger" title="@Lang.Employee_IsArchive" data-toggle="tooltip"><i class="fas fa-sign-out-alt"></i></span>
                                }
                                @if (item.IsBlock)
                                {
                                    <span class="font-red text-danger" title="@Lang.Employee_IsBlock" data-toggle="tooltip"><strong><i class="fas fa-ban"></i></strong></span>
                                }
                            </li>
                            <li class="small" title="@Lang.Employee_LastName @Lang.Employee_FirstName" data-toggle="tooltip">
                                @Html.DisplayFor(modelItem => item.LastName, new { @class = "small" }) @Html.DisplayFor(modelItem => item.FirstName, new { @class = "small" })
                            </li>
                        </ul>
                    </div>
                </td>

                <td>
                    <i class="icon-phone-signe"></i>  @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <div class="text-nowrap"><span><i class="fa fa-calendar" style="color:mediumslateblue"> </i> </span>@string.Format("{0:yyyy-MM-dd}", item.EnrollmentDate)</div>
                </td>
                <td>
                    <div class="text-nowrap small"><span><i class="fas fa-hard-hat" style="color:mediumslateblue"></i> </span> @Html.DisplayFor(modelItem => item.ContractorName)</div>
                </td>

                <td class="text-omit small">
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td class="text-omit small" style="word-break:break-all;">
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <div class="text-omit small" title="@Html.DisplayFor(modelItem => item.JobName)" data-toggle="tooltip" style="max-width:100px;overflow-x:hidden">   @Html.DisplayFor(modelItem => item.JobName)</div>
                </td>
                <td>
                    <div class="text-nowrap">
                        @{
                            if (item.UserId != "0" || !String.IsNullOrEmpty(item.UserId))
                            {
                                Html.ActionLink(Lang.UserList_RolesAuthorize, "UserRolesAssignedList", "User", new { Id = item.UserId, UserName = item.CnName, Language = LangUtilities.LanguageCode }, htmlAttributes: new { @class = "badge bg-primary" });
                            }
                        }

                        @Html.ActionLink(Lang.GeneralUI_Details, "EmployeeDetails", "Employee", new { EmployeeId = item.EmployeeId, Area = "Admin", Language = LangUtilities.LanguageCode }, htmlAttributes: new { @class = "badge bg-primary fas fa-user-edit" })
                    </div>
                    <div class="text-nowrap p-0" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.GeneralUI_Details)" data-toggle="tooltip">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="pt-1 bd-highlight">
                                <a href="@Url.Action("Employeequickadd","Employee",new { EmployeeId = item.EmployeeId, Step = 1 })" target="_blank" class="text-decoration-none" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.EmployeeQuickAdd_Title)" data-toggle="tooltip">
                                    <label class="badge bg-secondary text-white p-1">1</label>
                                </a>
                            </div>
                            <div class="pt-1 pl-1 bd-highlight">
                                <a href="@Url.Action("EmployeeQuickReco","Employee",new { EmployeeId = item.EmployeeId, Step = 1 })" target="_blank" class="text-decoration-none" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.EmployeeQuickReco_Title)" data-toggle="tooltip">
                                    <label class="badge bg-secondary text-white p-1">2</label>
                                </a>
                            </div>
                            <div class="pt-1 pl-1 bd-highlight">
                                <a href="@Url.Action("QuickAddOganization","Employee",new { EmployeeId = item.EmployeeId, Step = 1 })" target="_blank" class="text-decoration-none" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.QuickAddOganization_Title)" data-toggle="tooltip">
                                    <label class="badge bg-secondary text-white p-1">3</label>
                                </a>
                            </div>
                            <div class="pt-1 pl-1 bd-highlight">
                                <a href="@Url.Action("QuickAddIdNumber","Employee",new { EmployeeId = item.EmployeeId, Step = 1 })" target="_blank" class="text-decoration-none" title="@string.Format("{0} {1}", Lang.GeneralUI_Employee, Lang.QuickAddIdNumber_Title)" data-toggle="tooltip">
                                    <label class="badge bg-secondary text-white p-1">4</label>
                                </a>
                            </div> 
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<div class="btn-xs">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("EmployeeList", "Employee", new { page }), new PagedListRenderOptions
               {
                   ContainerDivClasses = new[] { "pagination pagination-sm" },
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" },
                   MaximumPageNumbersToDisplay = 5
               })
    <!--Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast 經典選項-->
</div>

 

<!-- Apply Leave -->
<div class="ml-3">
    <div class="modal fade" id="ApplyLeavePanel" tabindex="-1" role="dialog" aria-labelledby="addNewDepartmentPanel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLanguageTitle">@Lang.EmployeeList_Leave</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        Html.RenderAction("ApplyLeaveAddNew", "Employee");
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--ArchiveApprove1-->
@{
    Html.RenderAction("ArchiveApprove", "Employee", new ArchiveApprove { EmployeeId = "", LeaveDate = DateTime.Now });
}
<!--BanApprove-->
@{
    Html.RenderAction("BanApprove", "Employee", new BanApprove { EmployeeId = "", IsBlock = true });
}
 
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker(
            {
                Language:"@LangUtilities.LanguageCode",
                timePicker: false,
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd',
                templates: {
                leftArrow: '«',
                    rightArrow: '»'
                },
                showWeekDays: true
            }
        );
    });
</script>
<script>

    app.controller('mycontroller_employList_leave_addnew', function ($scope, $http) {
        $http({
                method: 'GET',
                url: '/'+'@LangUtilities.LanguageCode'+'/Admin/Employee/SelectEmployeeListJson'
            }).then(function successCallback(response) {
                $scope.serchingEmployeeListJson = response.data;
            }, function errorCallback(response) {
                console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
            });
        //------------------------------------------------------------------------------
       $http({
                method: 'GET',
           url: '/' + '@LangUtilities.LanguageCode' +'/Admin/Employee/SelectUserListJson'
            }).then(function successCallback(response) {
                $scope.serchingUserListJson = response.data;
            }, function errorCallback(response) {
                console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
            });
    });
</script>
<script>

    app.controller('mycontroller', function ($scope, $http) {
        $http({
            method: 'GET',
            url: '/'+'@LangUtilities.LanguageCode'+'/Admin/Employee/SelectEmployeeListJson'
        }).then(function successCallback(response) {

            $scope.serchingEmployeeListJson = response.data;

        }, function errorCallback(response) {
            console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
        });
    });

    function errCancelRelateToUser() {
        alert('@Lang.GeneralUI_ServerError' + "--client errCancelRelateToUser");
    }

    function handleCancelRelateToUser(data) {
        if (data.MsgCode == "1") {
            layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: data.Message
                , btn: '@Lang.GeneralUI_OK'
            });
        }

        if (data.MsgCode == "0") {
            layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: data.Message
                , btn: '@Lang.GeneralUI_Cancel'
            });
        }
    }
</script>
<script>
    app.controller('ArchiveApproveCtrl', function ($scope, $http) {
        $http({
                method: 'GET',
                url: '/'+'@LangUtilities.LanguageCode'+'/Admin/Employee/SelectEmployeeListJson'
            }).then(function successCallback(response) {
                $scope.serchingEmployeeListJson = response.data;
            }, function errorCallback(response) {
                console.log("/en-US/Admin/Employee/SelectEmployeeListJson : \n\r" + response.data);
            });
    });
</script>