@using LanguageResource
@using Common
@model IEnumerable<AttendanceBussiness.LeaveBusiness.LeaveBusinessView>
@{
    Layout = null;
    string LeavePainTypeSpanIcon = "<i class=\"fas fa-water\"></i>";
}
@foreach (var item in Model)
{
    if (item.LeavePaidType == (int)AttendanceBussiness.ShiftBusiness.LeavePaidType.PAID_LEAVE)
    {
        LeavePainTypeSpanIcon = "<i class=\"fas fa-dollar-sign\"></i>";
    }
    <a href="#" class="dropdown-item">
        <!-- Message Start -->
        <div class="media">
            <div style="max-width:80px;width:80px;">
                <img src="@item.EmployeeIcon" style="max-width:80px" alt="Avatar" class="img-size-50 mr-3 img-circle">
                <br><span class="small" style="text-align:left;font-size:0.5em;">@item.LeaveTypeName</span>
            </div>
            <div class="media-body">
                <h4 class="dropdown-item-title" data-toggle="tooltip" title="@string.Format("{0}-{1}", item.EmployeeId, item.EmployeeName)">
                    <span class="dropdown-item-title" style="max-width:300px;overflow:hidden;">@CommonBase.Substr(item.EmployeeName, 20)</span>
                    @if (item.IsApproved)
                    {
                        <span class="float-right text-sm text-warning bold">
                            @Html.Raw(LeavePainTypeSpanIcon) <i class="fa fa-star"></i>
                        </span>
                    }
                    else
                    {
                        <span class="float-right text-sm text-danger bold">
                            @Html.Raw(LeavePainTypeSpanIcon) <i class="fa fa-star"></i>
                        </span>
                    }

                </h4>
                <p class="text-sm small h-25">@item.LeaveDateTimeRange</p>
                <div class="small box small-box p-1 mt-1" style="width :200px; max-width:200px;word-break:break-all;word-wrap:break-word;overflow:hidden;" data-toggle="tooltip" title="@item.Reason">@item.Reason</div>
                <p class="text-sm text-muted" data-toggle="tooltip" title="@string.Format("{0:yyyy-MM-dd HH:mm}",item.CreatedDate)">
                    <i class="fa fa-clock-o mr-1"></i>
                    @{
                        DateTime dt = DateTime.Now;
                        TimeSpan timeSpan = dt.Subtract(item.CreatedDate);
                        int xSpan = timeSpan.Hours == 0 ? timeSpan.Minutes : timeSpan.Hours;
                        xSpan = timeSpan.Days > 0 ? timeSpan.Days : xSpan;
                    }
                    @if (timeSpan.Days > 0)
                    {
                        <span>@string.Format("{0} Days ago", xSpan)</span>
                    }
                    @if (timeSpan.Hours >= 1 && timeSpan.Hours <= 23 && timeSpan.Days == 0)
                    {
                        <span>@string.Format("{0} Hours ago", xSpan)</span>
                    }
                    @if (timeSpan.Hours < 1 && timeSpan.Days == 0)
                    {
                        <span>@string.Format("{0} Mins ago", xSpan)</span>
                    }

                    @if (!item.IsApproved && item.ApplovedBy == "0")
                    {
                        <button class="btn-sm btn btn-danger badge badge-danger fas fa-check" id="@item.LeaveId" name="@item.LeaveId" data-LeaveId="@item.LeaveId" title="click to approve (@Lang.GeneralUI_WaitingForApproval)" onclick="javascript:LeaveApproval(this)"> OK</button>
                    }
                    else
                    {
                        <label class="badge badge-success">@Lang.ApprovedMode_IsApproved</label>
                    }
                </p>
            </div>
        </div>
        <!-- Message End -->
    </a>
    <div class="dropdown-divider"></div>
}
@if (Model.Count() == 0)
{

    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bd-highlight"><a href="#" class="dropdown-item dropdown-footer">@string.Format("{0} ({1})", Lang.LeaveListPane_Title, Lang.LeaveListPane_NoLeaveApplication)</a></div>
        <div class="p-2 bd-highlight"><i class="fas fa-plus"></i> @Html.ActionLink("more", "LeaveApprovalList", "Employee")</div>
    </div>
}
else
{
   
    <div class="d-flex flex-row bd-highlight mb-1">
        <div class="p-2 bd-highlight">
            <a href="#" class="dropdown-item dropdown-footer">@string.Format("{0} (Top 6)", Lang.LeaveListPane_Title)</a>
        </div>
        <div class="pt-3 bd-highlight small"> @Html.ActionLink("+more", "LeaveApprovalList", "Employee")</div>
    </div>
}

<script>
    function LeaveApproval(e) {
        var LeaveId = $(e).attr("data-LeaveId")
        var LeaveApprovalUrl = "@Url.Action("LeaveApproval", "Employee")" + "/" + LeaveId;
        $.get(LeaveApprovalUrl, function (data) {
            var targetLeaveId = "#" + LeaveId;
            $(targetLeaveId).hide();
             layer.open({
                title: '@Lang.GeneralUI_ReturnResult'
                , content: data.Message
                , btn: '@Lang.GeneralUI_OK'
            });
        });
    }
</script>

