@using LanguageResource
@using Microsoft.AspNet.Identity
@{
    Layout = null; 
} 

<!-- Sidebar user panel (optional) -->
<div class="user-panel panel-collapse  mt-3 pb-3 mb-3 d-flex"> 
    <div class="info">
        <ul class="m-0 p-0" style=" list-style: none; list-style-type: none; padding: 0; margin: 0;float:left;">
            <li class="m-0 p-0" style=" list-style: none; list-style-type: none; padding: 0; margin: 0;float:left;">
                <span  class="  text-white pl-2" style="max-width:120px;"> @User.Identity.GetUserId()</span>
            </li>
            <li class="m-0 p-0" style=" list-style: none; list-style-type: none; padding: 0; margin: 0;float:left;">
                <span class="pl-1 pr-1 text-black-50"> | </span>
            </li>
            <li class="m-0 p-0" style=" list-style: none; list-style-type: none; padding: 0; margin: 0;float:left;">
                <a href="#" class="d-block">
                    <span class=" text-white">@User.Identity.Name </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator || (bool)ViewBag.Role_ThirdPartyserviceContractorAdmin || (bool)ViewBag.Role_ThirdPartyserviceContractorOperator)
            {
                <a href="#" class="nav-link">
                    <i class="fas fa-cogs nav-icon"></i>
                    <p>
                        管理系統
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @if ((bool)ViewBag.Role_SystemAdmin)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("UserList","User",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fas fa-users-cog  nav-icon"></i>
                                <p>系統用戶</p>
                            </a>
                        </li>
                    }

                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator || (bool)ViewBag.Role_ThirdPartyserviceContractorAdmin || (bool)ViewBag.ThirdPartyserviceContractorOperator)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("UserRegister","User",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>登記系統用戶</p>
                            </a>
                        </li>
                    }

                </ul>
            }

        </li>
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
            {
                <a href="#" class="nav-link">
                    <i class="fas fa-business-time nav-icon "></i>
                    <p>
                        系統設置
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("ShiftSetting","SysBusinessSetting",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book-o nav-icon"></i>
                            <p> 排更設置</p>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a href="@Url.Action("ShiftList","SysBusinessSetting",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fas fa-stream nav-icon"></i>
                            <p> 排更列表</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("scheduleindex","AttendanceReports",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book-o nav-icon"></i>
                            <p> 排更名冊</p>
                        </a>
                    </li>
                </ul>
            }
        </li>

        <!--Attendance Reports-->
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
            {
                <a href="#" class="nav-link">
                    <i class="fab fa-wpforms nav-icon "></i>
                    <p>
                        工作考勤
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("ShiftBrief","AttendanceReports",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book-o nav-icon "></i>
                            <p> 遲到早退</p>
                        </a>
                    </li> 
                    <li class="nav-item">
                        <a href="@Url.Action("DayStatistics","AttendanceReports",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fas fa-sun nav-icon"></i>
                            <p> 每日統計</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("MonthlyStatistics","AttendanceReports",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book nav-icon"></i>
                            <p> 每月統計</p>
                        </a>
                    </li>
                </ul>
            }
        </li>
         
        <!--EmployeeManage-->
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
            {
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-address-book nav-icon"></i>
                    <p>
                        工人檔案管理
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("EmployeeList","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book nav-icon"></i>
                            <p>地盤工人列表</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("AttendanceLog","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-list-alt nav-icon"></i>
                            <p>拍卡記錄</p>
                        </a>
                    </li>
                  
                    <li class="nav-item">
                        <a href="@Url.Action("EmployeeDetails","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-user-plus nav-icon"></i>
                            <p>工人檔案創建</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("EmployeeDetails","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-user-plus nav-icon"></i>
                            <p>檔案創建</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Employeequickadd","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-user-plus nav-icon"></i>
                            <p>建立工人檔案</p>
                        </a>
                    </li>
                </ul>
            }
        </li>

        <!--Leave & Holiday-->
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
            {
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-table "></i>
                    <p>
                        工人假期
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="@Url.Action("LeaveApprovalList","Employee",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-address-book nav-icon"></i>
                            <p>工人請假列表</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("HolidayList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fa fa-hotel nav-icon"></i>
                            <p>工人假期列表</p>
                        </a>
                    </li>
                </ul>
            }
        </li>
        
        <!--Contractor-->
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_ThirdPartyserviceContractorAdmin || (bool)ViewBag.Role_ThirdPartyserviceContractorOperator)
            {
                <a href="#" class="nav-link">
                    <i class="fa fa-truck nav-icon"></i>
                    <p>
                        建造業業務
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
                    { 
                        <li class="nav-item">
                            <a href="@Url.Action("ContractorList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fas fa-map-marker nav-icon"></i>
                                <p>二判列表</p>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
          
        <!--FONDATION DATA-->
        <li class="nav-item has-treeview">
            @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
            {
                <a href="#" class="nav-link">
                    <i class="fa fa-database nav-icon "></i>
                    <p>
                        系統設置數據
                        <i class="fa fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    
                    <li class="nav-item">
                        <a href="@Url.Action("DepartmentList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                            <i class="fas fa-sitemap nav-icon"></i>
                            <p>部門</p>
                        </a>
                    </li>
                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("JobList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fa fa-leaf nav-icon"></i>
                                <p>工作種類</p>
                            </a>
                        </li>
                    }

                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("PositionList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fa fa-tree nav-icon"></i>
                                <p>工作職位</p>
                            </a>
                        </li>
                    }

                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("HolidayList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fa fa-arrow nav-icon"></i>
                                <p>工人假期</p>
                            </a>
                        </li>
                    }
                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("SiteList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fa fa-map-marker nav-icon"></i>
                                <p>地盤地址列表</p>
                            </a>
                        </li>
                    }
                    @if ((bool)ViewBag.Role_SystemAdmin || (bool)ViewBag.Role_Admin || (bool)ViewBag.Role_MainComOprerator)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("ContractorList","FoundationData",new { Language =ViewBag.Language,area ="Admin"})" class="nav-link">
                                <i class="fa fa-map-marker nav-icon"></i>
                                <p>二判列表</p>
                            </a>
                        </li>
                    }
                </ul>
            }
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu --> 
