@using LanguageResource
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Star On Engineering Ltd. Star On System Ltd.</title>
    @Scripts.Render("~/bundles/jquery")

    <script src="~/AdminLTE3/plugins/popper205/popper.js"></script>
    <!-- Bootstrap -->
    @Styles.Render("~/Content/bootstrap3.7")
    @Scripts.Render("~/bundles/bootstrap3.7")

    @Styles.Render("~/Content/mainStyle")
    @Styles.Render("~/AdminLTE3/font-awesome")
    <script src="https://kit.fontawesome.com/ad51e5f97b.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")

    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Star On ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.RouteLink(Lang.GeneralUI_HomePage, new { Action = "MainCom", Controller = "Home", Language = ViewBag.Language })</li>
                    <li>@Html.RouteLink(Lang.GeneralUI_About, new { Action = "About", Controller = "Home", Language = ViewBag.Language })</li>
                    <li>@Html.RouteLink(Lang.GeneralUI_Contact, new { Action = "Contact", Controller = "Home", Language = ViewBag.Language })</li>
                    <li>@Html.RouteLink(Lang.GeneralUI_AttendanceSystem, new { Action = "Index", Controller = "Home", Language = ViewBag.Language })</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-height:100%;">
        @RenderBody() 
    </div>
    <footer class="footer">
        <hr />
        <p>&copy; @DateTime.Now.Year - Star On Engineering Ltd. Star On System Ltd.</p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
